<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.show_sql">false</property>
        <property name="hibernate.format_sql">false</property>
        <property name="hibernate.jdbc.fetch_size">100</property>
        <property name="hibernate.jdbc.batch_size">30</property>
        <property name="hbm2ddl.auto">validate</property>

        <!-- Configuration TimeZones joda-time -->
        <property name="jadira.usertype.autoRegisterUserTypes">true</property>
        <property name="jadira.usertype.databaseZone">jvm</property>
        <property name="jadira.usertype.javaZone">jvm</property>

    </session-factory>
</hibernate-configuration>
